.input {
    margin: 1%;
}

.flexible {
	display: flex;
}

.inline {
    display: inline;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}

.card {
    margin-left: 10%;
    margin-right: 10%;
}

.custom {
    width: 100%;
}