.day-blank {
	background-color: #efefef;
}
.day-sun .day{
	color:red;
}
.day-holi .day{
	color:red;
}
.day-sat .day{
	color: blue;
}
.sun {
	color: red;
}
.holiday {
	color: red;
}

.sat {
	color: blue;
}

.calendar_show {
	margin: 10px;
	background-color: white;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
}

.JobTime {
	background-color: #fff8dc;
	text-align: center;
}

table th {
	overflow: visible;
}
table td {
	text-align: center;
}


table {
	table-layout: fixed;
	width: 100%;
}



.name {
	display: inline-block;
	font-size: 0.9rem;
	font-weight: bold;

}
.time {
	display: inline-block;
	font-size: 0.8rem;
	
	
}

.under {
	align-items: flex-end;
}

.flexible {
	display: flex;
}

.del {
	margin-right: 5px;
}
.btn {
	padding: 0.01rem 0.01rem;
}