html {
  font-size: 75%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

.blank {
	background-color: #C0C0C1;
}

.sun {
	color: red;
}
.holiday {
	color: red;
}
.sat {
	color: blue;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
}

.calendar {
	max-width: 1280px;
	max-height: 1080px;
	margin: 0 auto;
	font-size: 1rem;
}

@media screen and (max-width: 1280px) {
　
}

.table {
	width: 99%;
	height: 100%;
	margin: auto;
}
.table td {	
	padding: 3px;
	background-color: white;
	width: 14.28571%;
	height: 10vh;
	max-height: 100px;
	
}

.table td a{	
	color: black;
}

.table td .day {
	margin-bottom: 0;
}
.table td {
	text-align: left;
	border: solid 1px #999;
}
.table th {
	text-align: center;
	border: solid 1px #999;
	background-color: white;
}

.workTimeZone {
	font-size: 1.0rem;
	color: black;
	overflow:hidden;
}

.workTime {
	text-align: center;
}

.week {
	float: left;
}

.create {
	float: right;
}

.under {
	align-items: flex-end;
	margin:0 auto;
}

.flexible {
	display: flex;
}
