.main{
	font-size: 1.1rem;
}

.table {
	background-color: white;
	table-layout: fixed;
}
.scroll {
	overflow-y: scroll;
}

.name {
    text-align: left;
    font-size: large;
}
.time {
    text-align: right;
    font-size: small;
}
.flexible {
	display: flex;
}

.input-text {
	background-color: white;
	margin-right: 1%;
	margin-left: 1%;
}
input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
}

.textarea {
	font-size: 1rem;
	resize: none;
	width: 90%;
}
.text-btn {
	width: 10%
	
}
.card {
	margin-right: 1%;
	margin-left: 1%;
}

.btn {
	color: white;
}

.btn-sm {
	padding: 0.00001rem 0.01rem;
}

.toTop {
	display: inline;
	text-align: right;
	font-size: small;
	padding-left: 5%;
	padding-right: 5%;
}

.next {
	padding-right: 5%;
	display: inline;
	font-size: small;
}