.table {
	background-color: white;
	table-layout: fixed;
	width: 100%;
}
.scroll {
	overflow-y: scroll;
}

.name {
    text-align: left;
    font-size: large;
}
.body {
    
}

.time {
    text-align: right;
    font-size: small;
}
.flexible {
	display: flex;
}

.input-text {
	background-color: white;
}
.max-width {
	width: 100%;
}