.search {
	display: none;
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 115%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  .search {
  	display: block;
  }
  
}

.flexible {
	display: flex;
}

.under {
	align-items:
	flex-end;
	margin:0 auto;
}

.main {
	max-width: 540px;
}