html, body {
    background-color: #dbebc4;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
}

.body {
    margin: auto;
}

.blank {
    height: 30vh;
}

.main {
    margin: auto;
    font-size: 2.5rem;
}


.title {
    font-weight: bold;
    text-align: center;
}

.links > a,form {
    color: #636b6f;
    font-size: 1.5rem;
    font-weight: bold;
}

.links {
    width: 100%;
}


.inline-block {
    display: inline-block;
    width: 100%;
}