.search {
	display: none;
}

html {
  font-size: 75%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 120%;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  .search {
  	display: block;
  }
  
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 150%;
  }
}

.blank {
	background-color: #C0C0C1;
}

.sun {
	color: red;
}
.holiday {
	color: red;
}
.sat {
	color: blue;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
}

.calendar {
	margin: 0 auto;
	font-size: 1.1rem;
}

.row {
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
}

.right .left{
	padding-left: 5px;
	padding-right: 5px;
}

.table td {	
	padding: 3px;
	background-color: white;
	height: 10vh;
	width: 14.28571%;
	
}

.table td a{	
	color: black;
}

.table td .day {
	margin-bottom: 0;
}
.table td {
	text-align: left;
	border: solid 1px #999;
}
.table th {
	height: 5vh;
	text-align: center;
	border: solid 1px #999;
	background-color: white;
}

.workTimeZone {
	font-size: 1.0rem;
	color: black;
	overflow:hidden;
}

.workTime {
	text-align: center;
}

.week {
	float: left;
}

.create {
	float: right;
}

.under {
	align-items: flex-end;
	background-color: rgba(0, 0, 0, 0.03);
}

.flexible {
	display: flex;
}

.card {
	margin-left: auto;
}

.white {
	color: white;
}

.ul {
	padding-left: 3px;
}

.text-sm {
	font-size: smaller;
	padding-left: 10px;
}

.padding {
	padding: 5px;
}
