
@media screen and (min-width: 2000px) {
  html {
    font-size: 120%;
  }
}
.flexible {
	display: flex;
}

.inline {
    display: inline;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}

.card {
    margin-left: 3%;
    margin-right: 3%;
    max-width: 540px;
}

.custom {
    width: 100%;
}