.blank {
	background-color: #efefef;
}

.sun {
	color: red;
}
.sat {
	color: blue;
}
.table {
	table-layout: fixed;
}
.table td {	
	padding: 3px;
	border: solid 1px #999;
}
.table td a{	
	color: black;
}
.table td:before {
	display: block;
	float: left;
	height: 60px;
	content: "";
}
.table td .day {
	margin-bottom: 0;
}
.table td {
	text-align: left;
	border: solid 1px #999;
}
.table th {
	text-align: center;
	border: solid 1px #999;
}


.calendar_show {
	margin: 15px;
	background-color: white;
	
}

.calendar_title {
	margin: 10px;
}

.workTimeZone {
	background-color: #fff8dc;
	text-align: center;
	overflow:hidden;
}

.workTime {
	float: left;
}

.week {
	float: left;
}

.create {
	float: right;
}

.url{
	overflow:hidden;
}

.delete{
	text-align: right;
}

