.day-blank {
	background-color: #efefef;
}
.day-sun .day{
	color:red;
}
.day-holi .day{
	color:red;
}
.day-sat .day{
	color: blue;
}
.sun {
	color: red;
}
.sat {
	color: blue;
}

.calendar_show {
	margin: 10px;
	background-color: white;
}

.calendar_title {
	margin: 10px;
}

.JobTime {
	background-color: #fff8dc;
	text-align: center;
}
